
<div class="jumbotron">
  <h1>Welcome to Petition-online</h1>
  <p>Online service for creating and sending petitions.</p>
  <p><%= link_to 'Look all petitions', petitions_path, :class=>'btn btn-primary btn-lg'%></p>
</div>
