// Place all the styles related to the petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.petition{
  &__info{
    min-height: 400px;
  }
  &-card{
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  padding: 25px 25px;
  margin-top: 25px;
  transition: all ease .5s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    &:hover{
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) ;
    }
    &-vouting{
      border-bottom: 2px solid blue;
    }
    &-complited{
        border-bottom: 2px solid green;
    }
    &-declined{
        border-bottom: 2px solid red;
    }
    &-waiting{
        border-bottom: 2px solid yellow;
    }
    &__header{
      &__status{
        color:gray;
      }
    }
    &__title{
      font-size: 22px;
    }
    &__description{
      height: 120px;
      overflow: hidden;
    }
  }
  &-status{
    color:gray;
  }
}
