<footer>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to 'Petition-online', root_path, :class=>"navbar-brand"%>
    </div>
    <div class="col-md-3 offset-md-6">
      <a class="navbar-brando" href="https://t.me/AOleinik">Made by Oleksandr Oliinyk</a>
    </div>
  </div>
</div>
</footer>
